
section#footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h1 {
    font-weight: 300;
  }
  
  p {
    font-size: 16px;
  }
  
  .jc-center {
    justify-content: center;
  }
  .jc-space-between {
    justify-content: space-between;
  }
  
  i.icon-green {
    color: rgb(5, 206, 5);
    font-weight: 1000;
    font-size: 25px
  }
  
  .socialfa {
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .socialfa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #e1306c;
    color: white;
  }
  
  /* Twitter */
  .fa-linkedin {
    background: #0077b5;
    color: white;
  }
  