nav .nav-wrapper {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
  }
  
  .jc-center {
    justify-content: center;
  }
  .jc-space-between {
    justify-content: space-between;
  }
  
  .brandlogo:hover{
    border-bottom-color: #424242;
    text-decoration: none;
  }
  
  .nav:hover{
    color:#20a8d8;
    text-decoration:none;
  }
  
  .nav{
    color:#000000;
    text-decoration:none;
  }