.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.img-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}