@media only screen and (max-width: 1026px) {
    .filterbarhide {
      display: none;
    }
    .cuisinebarhide {
      display: none;
    }
    .searchbarhide {
      display: none;
    }
  }
  
  .smallbar {
    display: none;
  }

  .topsearchbar {
    display: none;
  }
  
  @media (max-width: 1026px) {
    .smallbar {
      display: inline;
    }
  }

  @media (max-width: 800px) {
    .searchbar {
      display: none;
    }

    .topsearchbar {
      display: inline;
    }
  }
  